.images {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.profile img {
    border-radius: 10%;
}

.social-icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
}

.social-icons img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}